<div class="mat-elevation-z8">
  <table *ngIf="ELEMENT_DATA" mat-table [dataSource]="ELEMENT_DATA">
    <!-- Position Column -->
    <ng-container *ngFor="let col of displayedColumns" matColumnDef="{{ col }}">
      <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
      <td
        (click)="editElment(element['id'])"
        mat-cell
        *matCellDef="let element"
      >
        {{ element[col] }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>
<button
  (click)="addMovie()"
  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
  type="button"
>
  add movie
</button>
